<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Incrementa el potencial de tus resultados</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/sweetalert.css">
    <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css">
    <style>
    </style>
  </head>
  <body>
    <section class="back-white padding-top70">
		<article class="padding20 margin-top20 center-block" style="max-width:420px; text-align:center;">
			<h4 class="text-uppercase">Recuperar contraseña</h4>
			<p class="font20 margin-top10">
				Crea una nuueva contraseña para recuperar el acceso a tu cuenta.
			</p>
			<div class="margin-bottom20">
				<input type="password" id="email" class="my-input-simple back-grisclaro" placeholder="Ingresar nueva contraseña">
			</div>

			<div>
				<input type="password" id="repeat" class="my-input-simple back-grisclaro" placeholder="Confirmar nueva contraseña">
			</div>

			<div class="center-block padding20-0" style="width:200px;">
				<button id="send" class="my-btn width100 back-gold color-white text-uppercase" >Crear</button>
			</div>
		</article>

	</section>

<p id="user" data-token="{{token}}">
</p>

    <script src="/build.js"></script>
    <script type="text/javascript">

    function addNewPass(){
            var userMe = $('#user').attr('data-token');
            var newPass = $('#email').val()
            var checkPass = $('#repeat').val()

            if(newPass !== checkPass || !newPass){
                sAlert({
                title: "Error!",
                  text: "Las contraseñas deben ser iguales!",
                  type: "error",
                  confirmButtonText: "OK",
                  confirmButtonColor: "#a8843f"
                })
                return false
            }
            $.ajax({
                url: '/reset/'+ userMe,
                dataType: 'text',
                type: 'post',
                contentType: 'application/x-www-form-urlencoded',
                data: { ssap: newPass},
                success: function( data, textStatus, jQxhr ){
                    // poner el timer en 6000 y el timeout en 7000 para que funcione bien
                    swal({
                      title: "Éxito!",
                      text: "Será redirigido en 5 segundos.",
                      timer: 6000,
                      showConfirmButton: false
                    });
                    setTimeout(function(){
                        window.location.replace("/login");
                    }, 7000)
                    
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    console.log( errorThrown );
                    console.log(textStatus)
                    console.log(jQxhr)
                }
            });
    }
    $('#send').on('click', addNewPass)



    </script>
  </body>
</html>





