
// flex
.flex
	display flex
.flex-between
	justify-content space-between
.flex-column
	flex-direction column
.flex-center
	justify-content center
.flex-right
	justify-content flex-end
.flex-left
	justify-content flex-start
.flex-middle
	align-items center
.flex-bottom
	align-items flex-end
.flex-top
	align-items flex-start
.flex-wrap
	flex-wrap wrap

//margins
.margin0
	margin 0 !important
.margin10-0
	margin 10px 0
.margin0-10
	margin 0 10px
	
.margin0-15
	margin 0 15px
.margin20-0
	margin 20px 0
	
.margin20-40
	margin 20px 40px
.margin0-20
	margin 0 20px
.margin5
	margin 5px
.margin10
	margin 10px
.margin15
	margin 15px
.margin20
	margin 20px
	
.margin-left5
	margin-left 5px
.margin-left10
	margin-left 10px
.margin-left15
	margin-left 15px
.margin-left20
	margin-left 20px
	
.margin-right5
	margin-right 5px
.margin-right10
	margin-right 10px
.margin-right15
	margin-right 15px
.margin-right20
	margin-right 20px
	
.margin-right30
	margin-right 30px
	
.margin-top5
	margin-top 5px
.margin-top10
	margin-top 10px
.margin-top15
	margin-top 15px
.margin-top20
	margin-top 20px
	
.margin-top25
	margin-top 25px
	
.margin-bottom5
	margin-bottom 5px
.margin-bottom10
	margin-bottom 10px
.margin-bottom15
	margin-bottom 15px
.margin-bottom20
	margin-bottom 20px
	
.margin-bottom30
	margin-bottom 30px
.center-block
	margin-left auto
	margin-right auto


//paddings
.padding0
	padding 0
.padding10-0
	padding 10px 0
.padding0-10
	padding 0 10px
.padding20-0
	padding 20px 0
.padding0-20
	padding 0 20px
	
.padding10-20
	padding 10px 20px
.padding10-40
	padding 10px 40px
.padding5
	padding 5px
	
.padding5-0
	padding 5px 0
.padding10
	padding 10px
.padding15
	padding 15px
.padding20
	padding 20px
	
.padding-left5
	padding-left 5px
.padding-left10
	padding-left 10px
.padding-left15
	padding-left 15px
.padding-left20
	padding-left 20px
	
.padding-right5
	padding-right 5px
.padding-right10
	padding-right 10px
.padding-right15
	padding-right 15px
.padding-right20
	padding-right 20px
	
.padding-top5
	padding-top 5px
.padding-top10
	padding-top 10px
.padding-top15
	padding-top 15px
.padding-top20
	padding-top 20px
	
.padding-top70
	padding-top 70px
	
.padding-bottom5
	padding-bottom 5px
.padding-bottom10
	padding-bottom 10px
.padding-bottom15
	padding-bottom 15px
.padding-bottom20
	padding-bottom 20px
	
//colors

.color-white
	color white
.color-black
	color black
.color-gray
	color gray
.color-lightgray
	color lightgray
.color-red
	color wine
.color-light-blue
	color azul-claro
.back-light-blue
	background azul-claro
.back-white
	background white
	
.back-grisclaro
	background grisclaro !important
.text-center
	text-align center
	
.text-uppercase
	text-transform uppercase
.anchor
	text-decoration underline
	cursor pointer
	&:hover
		text-decoration none
.hoverShadow
	transition .3s
	&:hover
		box-shadow 0 4px 10px #999 !important		

.box-shadow
	box-shadow 0 4px 10px #999 !important

.font20
	font-size 20px
.font25
	font-size 25px
.font30
	font-size 30px  
.font35
	font-size 35px  
.font-normal
	font-weight normal

.list-style-none
	list-style none
.burger-menu
	position absolute
	top 0 
	left 0
.relative
	position relative
.badge
	background rgba(255, 0, 0, .7)
	font-size 12px
	width 20px 
	height 20px
	border-radius 50%
	color white
	position absolute
	top -8px
	right -11px
.width100
	width 100%
	
.my-container
	max-width 100px
	margin-left auto
	margin-right auto
	
.rounded
	border-radius 50%
		
.height220
	height 220px
	
.height100vh
	height 100vh
	
.pointer
	cursor pointer
.square40
	width 40px
	height 40px
	
.square25
	width 25px
	height 25px
	
.square70
	width 70px
	height 70px

.oddBold:nth-child(odd)
	font-weight bold

.deslised
	opacity 0
	top 50px !important


.cleared
	position relative
	z-index 4

.border2
	border 2px solid !important
.border-btn
	border-bottom 3px solid rgba(0,0,0, .3) !important
	cursor pointer
	&:active
		border-bottom 0px inset transparent !important
		transform scale(.97)

.border0
	border 0 !important


.max-width800
	max-width 800px
.widthCenter
	width 80%
.widthCenter
	width 80%

.max-width600
	max-width 600px

.max-width300
	max-width 300px

.widthHalf
	width 50%


.list-style-none
	list-style none

.right0
	right 0 !important
.hidden
	visibility hidden

.font-bold
	font-weight bold
.font35
	font-size 35px !important


.back-darkgray
	background darkgray !important
.back-black
	background #000000
.back-green
	background green

.back-yellow
	background yellow !important

.back-gold
	background gold
	color #fff !important

.color-green
	color green

.color-gold
	color gold

.back-grisclaro
	background grisclaro

.back-white
	background #fff

.back-blue
	background darkblue

.text-underline
	text-decoration underline
	&:hover
		text-decoration none
		cursor pointer

.disabled
	background #aaa !important
	color #757575 !important
	border-color #aaa !important

.relative
	position relative


.card-product
	position relative
	.my-close
		position absolute
		top -13px
		right -13px
		width 35px
		height 35px
		border-radius 50%
		color white
		background #000
		cursor pointer
.hide
	display none
.close-modal
	color #7b7b7b
	border 0
	font-size 20px
	background transparent !important

.check-icon-green
	font-size 2.5em
	border 5px solid #000
	width 1.7em
	height 1.7em
	border-radius 50%

.checkWrap
    width 26px !important
    height 26px !important
    background #fff
    margin-bottom 15px
    position relative
    border 1px solid darkgray
    border-radius 50%
    z-index 1 !important
   	.check-icon
   		background yellow
   		z-index 2
   		width 18px
   		height 18px
   		border-radius 50%
   		position absolute
	    left 3px
	    top 3px
	    opacity 0

.checkWrap input
    width 22px !important
    height 22px !important
    background #fff
    position absolute
    left 0
    z-index 3
    top -4px
    border-radius 50%
    opacity 0

.checkWrap input:checked ~ .check-icon
	opacity 1



.filtro-form
	margin 0
	input
		border 1px solid lightgray
		background #fff
		max-width 80px
		margin-right .5em
		padding-left .5em

	button
		color #fff
		outline 0
		border 0
		padding .3em .55em

.hideMobile
	display none
.showMobile
	display inline-block
.my-input
	width 100%
	border 1px solid border
	padding .4em 0 .4em .4em
	font-size 1.15em
	transition .3s
	border-radius .2em
	&:focus
		border 1px solid gold
		box-shadow 0 5px 15px #999
		
.my-input-simple
	width 100%
	border 1px solid border
	padding .4em 0 .4em .4em
	font-size 1.15em
	transition .3s
	border-radius .2em
	background #fff
	&:focus
		border 1px solid gold
		

.my-btn
	padding 10px 18px
	outline 0
	border 1px solid white
	border-radius 2px 
	cursor pointer
	font-size 1em
	transition .3s
	&:active
		box-shadow 0 0 0 transparent
		transform scale(.95,.95)		

.btn-active
	outline 0
	transition .3s
	&:active
		box-shadow 0 0 0 transparent
		transform scale(.9,.9)

.img-tiny
	width 80px

.borderGray
	border 1px solid #ddd

.border-bottom1
	border-bottom 1px solid lightgray


.border1white
	border 1px solid #fff

.border2gold
	border 2px solid gold

.transparent
	background transparent







